
.flex-container{
    display: flex;
    flex-direction: column;
    padding: 1px;
    font-family: 'Raleway', sans-serif;
    height: 1px;
    
}
.flex-container div{
  width: 700px;
  margin: 120px;
  text-align: center;
  line-height: 90px;
  font-size: 30px;
  height: 10px;



}